<md-content class="md-padding" md-theme="default" Layout-gt-sm="columns" >
    <form name="userform">
<md-input-container>
        <label>Title</label>
        <input ng-model="nuovo.titolo">
      </md-input-container>

      <md-input-container>
        <label>Descrizione</label>
        <input ng-model="nuovo.descrizione">
      </md-input-container>
     <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="nuovo.data"></md-datepicker>
          </md-input-container>
        <md-button class="md-fab" aria-label="Eat cake" ng-click="crea()">
           ecx
        </md-button>
          </form>
</md-content>


